body {
  background-color: white;
}

@font-face {
  font-family: Monopoly Sans Font;
  src: url("../fonts/MONOPOLY_INLINE.ttf");
}

.header {
  background-color: #da292f;
  font-family: Monopoly Sans Font;
  src: url("../fonts/MONOPOLY_INLINE.ttf");
  font-size: xx-large;
  height: 140px;
  padding: 20px;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  color: #ffffff;
}

.frames {
  border: 4px solid #ffffff;
  border-radius: 25px;
  display: inline-block;
  padding: inherit;
  padding-top: 0;
}

.tab button {
  font-family: Monopoly Sans Font;
  src: url("../fonts/MONOPOLY_INLINE.ttf");
  width: 25%;
  height: 150px;
  border: 2px solid #282e2c;
  background-color: #cae8e0;
  float: left;
  text-align: left;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
  padding-left: 15px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .tab button {
    display: block;
    width: 100%;
    font-size: medium;
    height: 50px;
  }

  img#hide {
    display: none;
  }

  header {
    height: 70px;
    font-size: small;
    padding: 0;
  }
  .frames {
    border: none;
    padding: 0;
  }
}

.bannertext {
  font-size: 60px;
  line-height: 40px;
  position: absolute;
}

.tab button:hover {
  background-color: #365361;
  color: white;
}

.tabcontent {
  display: "none";
  font-family: "Tahoma";
  width: 50%;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: auto;
  height: auto;
  float: right;
  padding-right: 10px;
}

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  color: #282e2c;
  padding: 10px;
  height: 20px;
  font-family: "Tahoma";
  margin-top: 20px;
  text-align: right;
}

.card {
  text-align: center;
  border-color: black;
  border-width: 2px;
}

.card-header {
  border-color: black;
  border-width: 2px;
  height: 100px;
}

.card-body {
  height: 275px;
}

.card-footer {
  border-top-color: black;
  border-top-width: 2px;
}

.card-title {
  font-weight: bold;
}
