body {
  background-color: rgb(250, 245, 245);
  height: 100vh;
  margin: 0;
}

@font-face {
  font-family: Monopoly Sans Font;
  src: url("../fonts/MONOPOLY_INLINE.ttf");
}

#root {
  height: 100%;
}

.aboutme {
  font-size: 1.5rem;
  margin-top: 200px;
}

.aboutMeImg {
  border-radius: 100%;
  margin: 100px 25% 50px 25%;
  width: 20vh;
}

.app {
  display: flex;
  height: 100%;
  position: relative;
}

.card {
  border-color: black;
  border-width: 2px;
  margin: 2rem;
  text-align: center;
}

.card-header {
  border-color: black;
  border-width: 2px;
  height: 100px;
}

.card-body {
  height: 275px;
}

.card-footer {
  border-top-color: black;
  border-top-width: 2px;
}

.card-title {
  font-weight: bold;
}

.contacts {
  font-size: 1.2rem;
  margin-top: 200px;
}

footer {
  font-family: Monopoly Sans Font;
  src: url("../fonts/MONOPOLY_INLINE.ttf");
  bottom: 20px;
  color: #365361;
  font-size: 50px;
  margin-top: 20px;
  padding: 10px;
  position: absolute;
  right: 30px;
  text-align: right;
  z-index: -1;
  /* width: 100%; */
}

footer img {
  height: 60px;
  padding-left: 20px;
  z-index: -1;
}

.frames {
  font-family: Monopoly Sans Font;
  src: url("../fonts/MONOPOLY_INLINE.ttf");
  border: 4px solid #ffffff;
  border-radius: 25px;
  color: #ffffff;
  display: inline-block;
  font-size: 1.5rem;
  margin: 0 10% 40px 10%;
  padding: 10px;
  text-align: center;
  width: 30vh;
}

h1 {
  color: #538791;
  font-size: 24px;
  font-style: normal;
  line-height: 28px;
}

.imgs {
  float: left;
  margin-right: 40px;
  width: 6rem;
}

.nav-menu {
  background-color: #da292f;
  display: flex;
  display: flex;
  height: 100% !important;
  justify-content: center;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: 850ms;
  width: 40vh;
  z-index: 101;

  /* height: 100vh; */
  /* overflow-y: auto; */
  /* position: relative; */
  /* flex-direction: column; */
  /* left: -100%; */
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  padding: 8px 0 8px 16px;
}

.nav-text a {
  align-items: center;
  border-radius: 4px;
  color: #f5f5f5;
  display: flex;
  font-size: 18px;
  height: 100%;
  margin-left: 15%;
  padding: 0 16px;
  text-decoration: none;
  width: 70%;
}

.nav-text a:hover {
  background-color: #921f22;
}

.nav-item {
  color: white;
}

.projects {
  margin-top: 20px;
  width: 50%;
}

.resume {
  margin-top: 20px;
  width: 50%;
}

.tabcontent {
  background-color: rgb(250, 245, 245);
  color: #424949;
  margin-left: 50vh;
  margin-right: 10vh;
}

@media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }

  .aboutMeImg {
    padding-bottom: 2rem;
  }

  .frames {
    padding: 5px;
    margin: 5px;
  }

  .hide {
    display: none;
  }

  .pdf_width {
    width: 100%;
  }
}
